<div ng-controller="LoginController as vm"> 

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#/"><span class="material-icons material-icons-outlined">
          shopping_bag
        </span>
        Tu Market</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">Tu Market</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
         
          <li class="nav-item">
            <a class="nav-link" href="#cajero"><i class="fas fa-shopping-cart">Shopping</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ordenCompra">Compras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-click="vm.Logout()">salir</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  
</div>


