<div ng-include="'./app/src/views/templates/admin/header.html'"></div>

<style>

body{
        background: #ffe259;
        background: linear-gradient(to right, rgb(173, 196, 223), white );
   
         }
</style>

<title>Shopping - Ventas</title>

<body>
  
<div ng-controller="verificarVentaController as lista">

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="exampleInputPassword1">Sub Total</label>
            <input type="text" class="form-control" ng-model="lista.subtotal" value="${{lista.subtotal}}.00" aria-label="Username" aria-describedby="basic-addon1" readonly>
          </div>
<br>
           <center>
          <div class="form-group">
            <img src="{{lista.compro}}" alt="" width="100%" height="500px" id="comprobante" ng-model="lista.compro">
          </div>
        </center>
     <br>
          <select class="form-select" ng-model="lista.verificacion" value="{{lista.verificacion}}">
             <option selected>Seleccionar</option> 
            <option value="verificada">Verificar</option>
            <option value="cancelada">Cancelar</option>
          </select>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="lista.comprobarVenta(lista.id,lista.verificacion)">Verificar</button>
        </div>
      </div>
    </div>
  </div>

  <br>




  <div class="col-12 d-flex"> 
<div ng-repeat="detalleCompras in lista.detalleCompras" class="col-4">  

<div class="row col-sm-12 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">

        <button type="button" class="btn btn-danger btn-sm" style=" float: right;" ng-click="lista.eliminarDetalleCompra(detalleCompras.id,detalleCompras)"><i class="fas fa-trash-alt"></i></button>

        <h4 class="my-0 fw-normal">Compra N° {{detalleCompras.id}}</h4>
      </div>
      <div class="card-body">
       <h1 class="card-title pricing-card-title"> <small class="text-muted fw-light">Total :&nbsp;</small>${{detalleCompras.subtotal}}.00</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <h4>{{detalleCompras.Nombreusuario}}&nbsp;{{detalleCompras.Apellidousuario}}</h4>
          <li><small class="text-muted fw-light">Fecha de Compra :&nbsp;</small> &nbsp;{{detalleCompras.fecha}}</li>
        <!-- <li>{{detalleCompras.archivo}}</li> -->
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-outline-primary" ng-click="lista.getDetalleCompra(detalleCompras)"  data-bs-toggle="modal" ng-model="detalleCompras.verificarBoton" ng-disabled="!detalleCompras.verificarBoton" data-bs-target="#exampleModal" ><p>Verificar Comprobante </p></button>
      </div>
    </div>
  </div>
  
 </div> 
</div>

<div ng-if="lista.detalleCompras.length == 0">

<span class="text-center">no hay ventas por el momento</span>

</div>
<!-- </div> -->


</div>



<!-- </div> -->


</body>


<div ng-include="'./app/src/views/templates/footer.html'"></div>