<div ng-controller="LoginController as vm"> 

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">

          <img src="./app/src/assets/images/carritoHeader2.jpg" alt="" width="07%" height="60px">
          <!-- <a class="navbar-brand" href="#/"><span class="material-icons material-icons-outlined">
              shopping_bag
            </span>
            Tu Market</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon">Tu Market</span> -->
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item" >
                <a class="nav-link" href="#verificarVentas" >Verificar Ventas</a>
              </li>
              
              <li class="nav-item" >
                <a class="nav-link" href="#productos">Productos</a>
              </li>

              <li class="nav-item" >
                <a class="nav-link" href="#Usuarios">Usuarios</a>
              </li>

              <li class="nav-item" >
                <a class="nav-link" href="#Proveedores">Proveedores</a>
              </li>

              <li class="nav-item" >
                <a class="nav-link" href="#Proveedores">Compras a Proveedores</a>
              </li>

              <li class="nav-item" >
                <a class="nav-link" href="#Principal">Principal</a>
              </li>

              <li>
                <div class="dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-sign-out-alt"></i>
                  </a>
                
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="nav-link" ng-click="vm.Logout()">salir</a></li>
                  </ul>
                </div>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
     
    </div>
    
    
    